.button {
  width: 100%;
  height: 50px;
  color: yellow;
  background-color: darkslategrey;
  border-radius: 10px;
  cursor: pointer;
  border: solid 2px yellow;
  transition: color 0.5s, border-radius 0.5s ease-out, border 0.5s;
  &:hover {
    color: blue;
    border: solid 2px blue;
    border-radius: 30px;
  }
}

